<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="unittest/bootstrap.php"
         cacheResult="false"
         colors="true">
    <testsuites>
        <testsuite name="orange/flashmsg">
            <directory>unittest/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
